<header>
    <div class="user-controller">
        <p id="username-label"></p>
        <div id="username-div">
            <input type="text" id="username">
            <button class="username-btn" onclick="changeUsername()">Cambiar Nombre</button>

        </div>
    </div>

    <div class="controller">
        <button class="control-btn disable-btn" onclick="toggleMicrophone(this)">Abrir Microfono</button>
        <button class="control-btn disable-btn" onclick="toggleMute(this)">Silenciar</button>
        <button class="control-btn disable-btn" onclick="toggleConnection(this)">En linea</button>
    </div>

</header>
<h2>LISTA DE USUARIOS</h2>
<ul class="users" id="users">


</ul>

<script src="/files/js/index.js"></script>
<link rel="stylesheet" href="/files/css/index.css">
